@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap');

*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

body {
    font-family: 'Poppins', sans-serif;
    background: rgb(255, 255, 255);
    background-image: url(building.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0%;

}

.head{
    padding: 20px 60px;
    color: rgb(255, 255, 255);
    font-size: 12px;
    font-weight: 500;

}

.margin{
    background-image: linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255)),
                      linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255)),
                      linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255)),
                      linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255));               
    background-repeat: no-repeat;
    background-size: 4px 41%, 10% 4.5px, 4px 41%, 10% 4.5px;
    background-position: left bottom, left bottom, right top, right top;
    margin-right: 400px;
    margin-left: 400px;
    margin-bottom: 3%;
}

.waviy {
    position: relative;
    text-align: center;
    font-size: xx-large;
    font-weight: 800;
  }
  .waviy span {
    font-family: 'Poppins', sans-serif;
    position: relative;
    display: inline-block;
    font-size: 40px;
    color: #fff;
    text-transform: uppercase;
    animation: flip 4s infinite;
    animation-delay: calc(.4.5s * var(--i))
  }
  @keyframes flip {
    0%,80% {
      transform: rotateY(360deg) 
    }
  }

.dateAndtime{
    text-align: center;
    width: 100%;
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-weight: 700;
}

.container{
    margin-top: 0px;
    display: flex;
    justify-content: space-between;
}

.quote{
    backdrop-filter: blur(30px);
    color: rgb(255, 255, 255);
    padding: 1em;
    padding-top: 30px;
    width: 100%;
    max-width: 420px;
    margin: 5px 160px;
    font-size: 17.5px;
    align-content: center;
    text-align: justify;
    border-radius: 1px 45px;
}

.box{
    backdrop-filter: blur(30px);
    color: rgb(255, 255, 255);
    padding: 1em;
    border-radius: 45px 1px;
    width: 100%;
    max-width: 420px;
    margin: 5px 150px;
    
}

.city{
    font-size: 50px;
    text-align: center;
}

.spaceBetween{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 30px;
    border-top: 5px solid white;
    border-top-width: thin;
    border-bottom: 5px solid rgb(255, 255, 255);
    border-bottom-width: thin;
}

.humidity{
    font-size: 20px;
}

.pressure{
    font-size: 20px;
}

.wind_speed{
    font-size: 20px;
}

.direction{
    font-size: 20px;
}
